html {
    background-color: #e5e5dc;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 99vh;
}

header,
footer {
    background-color: #a6cad4;
    text-align: center;
}


/* index page */

#index_h1 {
    font-family: 'Montserrat', sans-serif;
}


/* header */

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 2em;
}

nav li a {
    font-family: cursive;
    color: #334259;
    font-size: 1.4rem;
    text-decoration: none;
}

nav li a:hover {
    color: #db504a;
}

main {
    line-height: 1.4rem;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr;
    gap: 0 1em;
}

.first-intro {
    grid-column: 1/2;
}

.selfie {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end;
}


/* school page */

.school_header {
    display: flex;
    /* grid-template-columns: 1fr 5fr; */
}

.school_header h1 {
    flex-grow: 1;
    flex-basis: auto;
}

.school_header+h2 {
    margin: 0;
    color: #334259;
}


/* courses page */

.course-list ul {
    list-style-type: none;
    padding-inline-start: 15px;
}

.course-list ul li::before {
    content: "-";
    margin-right: 4px;
}


/* footer */

footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
}