html {
    background-color: #e5e5dc;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 99vh;
}

header,
footer {
    background-color: #a6cad4;
    text-align: center;
}

#index_h1 {
    font-family: 'Montserrat', sans-serif;
}


/* header */

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 2em;
}

nav ul li {}

nav li a {
    font-family: cursive;
    color: #ff1e4b;
    font-size: 1.4rem;
    text-decoration: none;
}

nav li a:hover {
    color: khaki;
}


/* school page */


/* courses page */

main {
    line-height: 1.4rem;
}

.course-list ul {
    padding-inline-start: 15px;
}

.course-list ul li::before {
    content: "-";
    margin-right: 4px;
}


/* footer */

footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}